.container {
    
}

.utility__footer {
    
}

.utility__h2 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.utility__list {
    list-style-type: none;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 272.9%;
    position: absolute;
    left: -30px;
}

