@import url("https://fonts.googleapis.com/css2?family=FontName&display=swap");

* {
    font-family: "FontName", sans-serif;

    margin: 0;
    padding: 0;
}
.reg_center {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 243, 243, 0.413);
}
.registerDivValue {
    font-size: 25px;
    font-weight: 600;
    color: #274c5b;
}
.regBlockCentr {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.regBlock {
    display: flex;
    width: 50%;
    height: 200px;
    background-color: white;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}
.leftregPart {
    height: 80%;
}
.leftregPart img {
    height: 100%;
    border-radius: 10px;
}
.rightRegPart {
    display: flex;
    flex-direction: column;
}
.registerInp {
    border: 1px solid rgb(5, 219, 5);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.registerBtn {
    padding: 10px;
    display: flex;
    width: 40%;
    border: none;
    justify-content: center;
    background: rgb(115, 246, 156);
    border-bottom: 4px solid #56d872;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

/* error */

.errorcenter {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.errorBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.errorBlock h3 {
    color: #274c5b;
    margin-bottom: 30px;
}